---

---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/blog">Blog</a>

    <h1>Ini about</h1>
    <h2>Ini merupakan halaman about</h2>

    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste, doloribus
      illum. Similique laudantium recusandae laborum illo molestias, perferendis
      id officia?
    </p>
  </body>
</html>
