---
import Social from "./Social.astro";

const platform = "github";
const username = "shironxn";
---

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
  }
</style>

<footer>
  <p>Learn more about my projects on!</p>
  <Social platform="github" username="shironxn" />
</footer>
